<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form action="/reset-password" id="reset-password" method="POST">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="token" value="<%= token %>">
    <div>
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" required />
      <p id="password-error" class="text-white text-sm mt-1 hidden">Password must be at least 6 characters long, contain at least 2 numbers and 3 letters.</p>
    </div>
    <button type="submit">Submit</button>
  </form>
  <script>
    const form = document.getElementById('reset-password');
    const passwordInput = document.querySelector('input[name ="password"]');
    const passwordError = document.getElementById('password-error');


    form.addEventListener('submit',function(e){
      const password = passwordInput.value;
      let isValid = true


passwordError.classList.add('hidden');


// validate password
if(!validatePassword(password)){
  passwordError.classList.remove('hidden');
  isValid = false
  passwordInput.classList.add('border-red-500');
  passwordInput.classList.remove('border-white/20');
}else{
  passwordInput.classList.remove('border-red-500');
  passwordInput.classList.add('border-white/20')
}


function validatePassword(password){
  if(password.length<6)return false;

  const numberCount = (password.match(/\d/g) || [])
  const letterCount = (password.match(/[a-zA-z]/g))

  return numberCount >=2 && letterCount >=3;
}

    })
  </script>
</body>
</html>
